.App {
  padding: 30px;
  display: flex;
}
.todoList{
  list-style: none;
  padding-left: 0;
}
.App > div {
  margin-right: 50px;
}

.item__completed{
  opacity: 0.5;
}
.error{
  background-color: #ff7e7e;
}
.active{
  background-color: green;
}